.footer{
	background-color: #68742C;
	padding: 3.3rem 0; 
}

.footer-heading{
	font-size:1.6rem;
}

.footer-text{
	font-size:1.6rem;
}

@media (max-width: 768px){
	.footer-heading{
	font-size:16px;
}

.footer-text{
	font-size:14px;
}
}