.hero {
  background-image: url("../../images//hero-bg.svg");
  background-size: cover;
  background-position: center;
  padding: 5% 0;
}

.hero-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 5rem;
}

.hero-text {
  padding: 12.9rem 0;
  width: 50vw;
}

.hero-header {
  font-weight: 700;
  font-size: 3.6rem;
  letter-spacing: -2%;
}

.text-display {
  font-size: 1.6rem;
  text-align: left;
  margin-top: 1.6rem;
}

.read-more {
  all: unset;
  font-size: 1.8rem;
  padding: 1.4rem 2.4rem;
  background-color: #68742c;
  border-radius: 60rem;
  margin-top: 6.2rem;
}

.hero-video {
  position: relative;
  width: 50vw;
  height: 43.8rem;
  overflow: hidden;
  border: 16px solid #68742c;
  border-radius: 50px;
}

.video-player{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 3.47rem;
}

@media (max-width: 800px) {
  .hero {
    background-position: top;
  }

  .hero-display {
    display: block;
    padding: 15.7rem 0;
  }
  .hero-text {
    width: 100%;
    padding: 0;
  }

  .hero-header {
    font-size: 2.4rem;
    margin: 0 1.4rem;
  }

  .text-display {
    margin: 0 1.4rem;
    font-size: 1.4rem;
    text-align: left;
    margin-top: 1.6rem;
  }

  .read-more {
    font-size: 1.4rem;
    padding: .88rem 1.52rem;
    background-color: #68742c;
    border-radius: 60rem;
    margin: 3.2rem 1.4rem 0;
  }

  .hero-video {
    border: 8px solid #68742c;
    overflow-x: hidden;
    padding: 0 1.8rem 0;
    margin-top: 6.22rem;
    border-radius:8px;
    height: 22.6rem;
    width: 100%;
  }

  .video-player{
    border-radius: 0;
  }

}
