/* .modal-container {
  background-color: rgba(0, 0, 0, 0.53);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close-modal {
  float: right;
  padding: 12px;
  cursor: pointer;
}

.close-icon {
  font-size: 40px;
  color: black;
}

.modal-group {
  padding: 60px 16px 33px;
}

.modal-title {
  color: #68742c;
  font-size: 24px;
  font-weight: 700;
}

.input-field {
  all: unset;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 56%;
  width: 106px;
  height: 106px;
  color: #68742c;
  font-size: 64px;
  padding: .8rem;
  text-align: center;
}

.modal-text {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 40px;
  text-align: center;
}

.modal-text span {
  font-weight: 700;
}

.modal-text strong {
  text-decoration: underline;
} */

@media (max-width: 800px){
  .modal {
    margin: 0 1.6rem;
  }
  .close-icon {
    font-size: 19px;
  }

  .modal-title {
    font-size: 16px;
  }

  .input-field{
    width: 5.2rem;
    height: 5.2rem;
  }

  .modal-text {
    font-size: 1.2rem;
  }
}
