#reader-header{
    color: #C0A427;
    font-size: 2rem;
}

#reader-header span{
    color: black;
    padding-left: 2.3rem;
}

.reader-screen{
    border-radius: 1.6rem;
    background-color: #FBFBF6;
    margin-top: 1.6rem;
    margin-bottom: 5rem;
    width: 100%;
    color: black;
}

.reader-chapter{
    padding: 4.8rem 5.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reader-chapter h2{
    text-align: center;
    border: 1px solid black;
    padding: .8rem 1.6rem;
    border-radius: 3.6rem;
    font-size: 1.6rem;
    margin-bottom: 1.4rem;
}

.reader-chapter p{
    font-size: 1.4rem;
    padding: .8rem;
    opacity: 0.6;
}

.navigate-page{
    display: flex;
    justify-content: space-between;
    padding: 2.9rem;
    font-size: 1.6rem;
}

.page{
    font-weight: 700;
    font-size: 1.6rem;
}

.page-navigate{
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.6rem;
}

.author-background{
    width: 50.5rem;
    background-image: url('../../images/UserBackground.svg');
    background-size: cover;
    border-radius: 2.4rem;
}

.author-display{
    padding: 2.4rem;
}

.author-display p{
    opacity: 0.7;
    font-size: 1.6rem;
}

.author-avatar{
    display: flex;
    align-items: center;
    gap: 0 1.6rem;
    margin-top: .8rem;
}

.author-avatar img{
    width: 4.4rem;
    height: 4.4rem;
    border: 2px solid #C0A427;
    border-radius: 50%;
}

.chapters{
    padding: 2.4rem;
    background-color: #C0A427;
    margin-top: 1.6rem;
    border-radius: 5.6rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
}

ul li {
    list-style-type: none;
    color: black;
    opacity: 0.5;
    margin-top: 1.6rem;
    border-radius: 5.6rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 1.6rem 2.4rem;
    cursor: pointer;
    transition: outline 200ms, color 200ms ease;
}

ul li:hover{
    outline: 2px solid #68742C;
    color: #68742C;
    opacity: 1;
    background-color: #FBFBF6;
}